bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.DavideBotHelper/.idea/encodings.xml
.idea/.idea.DavideBotHelper/.idea/indexLayout.xml
.idea/.idea.DavideBotHelper/.idea/vcs.xml
.idea/.idea.DavideBotHelper/.idea/.name
.idea
.vs
